*{ 
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.caja {
    width: 50%;
    padding: 2em;
    border: 1px solid black;;
    height: 300px;
    float: left;
    background-color: turquoise;
}
.caja2 {
    width: 48%;
    height: 300px;
    margin: 1%;
    padding: 2em;
    border: 1px solid black;;
    float: left;
    background-color: aqua;
}


nav {
    width: 20%;
    background-color: rgb(160, 252, 74);
    height: 400px;
    float: left;
    text-align: center;

}

main {
    text-align: center;
    margin-left: 2%;
    background-color: blueviolet;
    width: 78%;
    height: 400px;
    float: left;
}

#menuCaja3 {
    text-align: center;
    height: 30px;
    background-color: rgb(160, 252, 74);
    width: 110px;
}
#opciones {
    text-align: center;
    height: 160px;
    background-color: rgb(238, 121, 4);
    width: 110px;
}
.tituloArticulos {
    float: right;
    width: 50%;
}